/* src/components/ui/SplineScene.css */
.spline-fallback {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spline-fallback-loader {
  width: 48px;
  height: 48px;
  border: 5px solid var(--text-light, #eaebed);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: spline-rotation 1s linear infinite;
}

@keyframes spline-rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}